/* Styles */

/* COLORS */
:root {
    --fullShade: #1B1F23;
    --emptyShade: #FAFAFA;
    --lightestShade: #E1E4E8;
    --lightShade: #959DA5;
    --darkShade: #586069;
    --darkestShade: #2F363D;

    --bg: #F1EDE5;
}
.opacity-30-light {
    color: var(--fullShade);
    opacity: 0.3;
}
.opacity-30-dark {
    color: var(--emptyShade);
    opacity: 0.3;
}
.opacity-10-light {
    color: var(--fullShade);
    opacity: 0.1;
}
.opacity-10-dark {
    color: var(--emptyShade);
    opacity: 0.1;
}


/* TYPOGRAPHY */
@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica-Bold-Oblique.woff);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica-Bold.woff);
    font-weight: bold;
}
@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica-Regular-Oblique.woff);
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica-Regular.woff);;
}
@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica-Bold-Oblique.woff);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'PF-DIN-Text-Pro';
    src: url(../fonts/PF-DIN-Text-Pro-Regular.woff);
}


h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 112px;
    font-weight: bold;
    letter-spacing: -8px;
    line-height: 150%;
    margin: 0;
}
h2 {
    font-family: 'Helvetica', sans-serif;
    font-size: 72px;
    font-weight: bold;
    letter-spacing: -4px;
    line-height: 150%;
    margin: 0;
}
h3 {
    font-family: 'Helvetica', sans-serif;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -3px;
    line-height: 150%;
    margin: 0;
}
h4 {
    font-family: 'Helvetica', sans-serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 150%;
    margin: 0;
}

.sh1 {
    font-family: 'PF-DIN-Text-Pro', monospace;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 150%;
    margin: 0;
    text-transform: uppercase;
}
.sh2 {
    font-family: 'PF-DIN-Text-Pro', monospace;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 150%;
    margin: 0;
    text-transform: uppercase;
}
.sh3 {
    font-family: 'PF-DIN-Text-Pro', monospace;
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 150%;
    margin: 0;
    text-transform: uppercase;
}

.p1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 150%;
    margin: 24px;
}
.p2 {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 150%;
    margin: 24px;
}

.button {
    font-family: 'Helvetica', sans-serif;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 72px;
        font-weight: bold;
        letter-spacing: -4px;
    }
    h2 {
        font-size: 48px;
        font-weight: bold;
        letter-spacing: -3px;
    }
    h4 {
        font-size: 48px;
        font-weight: bold;
        letter-spacing: -3px;
    }
}
@media screen and (max-width: 800px) {
    h1 {
        font-size: 48px;
        font-weight: bold;
        letter-spacing: -3px;
    }
    h2 {
        font-size: 32px;
        font-weight: bold;
        letter-spacing: -2px;
    }

    .p1 {
        font-family: 'Helvetica';
        font-size: 16px;
        letter-spacing: 0px;
    }
}

a {
    color: var(--darkShade);
    transition: 0.16s;
}
a:hover {
    color: var(--lightShade);
    transition: 0.16s;
}

h1::selection, h2::selection, h3::selection, h4::selection, p::selection, a::selection, span::selection, br::selection, strong::selection, img::selection, html::selection {
    background: var(--lightestShade);
}

/* LAYOUT */
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}

/* IMAGES */
.img {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 100%;
}
.shadow {
    box-shadow: 0 0 8px 0 var(--lightestShade);
}

/* GLOBAL */ 
html {
    color: var(--fullShade);
    background: var(--emptyShade);
    overflow-x: hidden;
    margin: 3vw 6vw;
    
    animation: 1.0s ease-in fade-in;
}
img {
    -webkit-user-drag: none;
}
video {
    -webkit-user-drag: none;
}
.section {
    margin-bottom: 3em;
}

/* HEADER */
.hero {
    position: relative;
}
.header {
    display: flex;
    flex-direction: row;
    line-height: 3em;
}
.zk-logo {
    height: 3em;
    transition: 1.5s ease-in-out;
}
.zk-logo:hover {
    transform: rotate(1800deg);
    transition: 15.0s linear;
}
.nav {
    line-height: 3em;
}
.option {
    display: inline;
    margin-left: 5vw;
    font-weight: normal;
    color: var(--darkShade);
}
.selected {
    font-weight: 500;
    color: var(--fullShade);
}
.option:hover {
    color: var(--fullShade);
}
.title {
    display: flex;
    flex-direction: row;
}

/* SUMMARY */
.summary {
    display: grid;
    grid-template-columns: 100%;
}
.summary-section {
    width: 100%;
}
.summary-item {
    margin-bottom: 1.5em;
}
.subtitle {
    margin-bottom: 0.75em;
    text-transform: uppercase;
    color: var(--darkShade);
}
.divider {
    border-top: 1px solid var(--lightestShade);
    margin-bottom: 3em;
}
/* BODY */
.main {
    margin-top: 3em;
    margin-bottom: 3em;
}
.content {
    display: grid;
    grid-column-gap: 5vw;
    grid-template-columns: auto;
    grid-row-gap: 10vw;
    grid-template-rows: auto auto auto;
    position: relative;
    margin-top: 3em;
}


/* FOOTER */
footer {
    display: flex;
    margin-top: 3em;
    line-height: 4em;
    color: var(--darkShade);
}
footer p a:hover {
    color: var(--fullShade);
}
.social {
    grid-column: 9/ 13;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}
.icons {
    display: inline-block;
    margin-left: 1.5vw;
    height: 1.5em;
    opacity: 0.45;
    transition: 0.28s;
}
.icons:hover {
    opacity: 1;
    transition: 0.28s;
}

/* ABOUT */
.avi {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    height: 15em;
    width: 15em;
    border-radius: 100em;
}
.cornell-link {
    color: #B31B1B;
}

/* RESPONSIVE */
.content-web {
    display: none;
}
.content-mobile {
    display: inherit;
}
@media screen and (min-width: 550px) {
    /* GLOBAL */
    html {
        margin: 3vw 0vw;
    }
    .content-web {
        display: inline;
    }
    .content-mobile {
        display: none;
    }
    
    /* GRID */
    .grid {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    /* HEADER */
    .hero {
        margin-bottom: 3em;
    }
    .header {
        margin-bottom: 1.5em;
        line-height: 3em;
        justify-content: space-between;
    }
    .zk-logo {
        margin-right: 1.5em;
        height: 3em;
    }
    .nav {
        margin-left: auto;
        line-height: 3em;
    }
    .option {
        margin-left: 3vw;
    }
    
    /* BODY */
    .content {
        grid-template-columns: auto auto;
        grid-row-gap: 5vw;
        margin-bottom: 3em;
    }
    
    /* ABOUT */
    .avi {
        height: 35vw;
        width: 35vw;
    }
}

@media screen and (min-width: 1000px) {
    /* GLOBAL */
    .content-web {
        display: inline;
    }
    
    /* HEADER */
    .selected {
        font-weight: 500;
        color: var(--fullShade);
    }
    
    /* SUMMARY */
    .summary {
        grid-template-columns: 50% 50%;
    }
    
    /* ABOUT */
    .avi {
        margin-top: auto;
        margin-bottom: auto;
        height: 25em;
        width: 25em;
    }
}

/* ANIMATIONS */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(0.05%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}