/* style.css */

html {
    background-color: #FFFFFF;
    animation: 1.0s ease-in fadeIn;
    padding: 3em;
    padding-bottom: 0;
    overflow-x: hidden;
}

/* Typography */
@font-face {
    font-family: 'SFUI Thin';
    src: url(../fonts/SF-UI-Display-Thin.woff2);
}
@font-face {
    font-family: 'SFUI Light';
    src: url(../fonts/SF-UI-Display-Light.woff2);
}
@font-face {
    font-family: 'SFUI';
    src: url(../fonts/SF-UI-Display-Regular.woff2);
}
@font-face {
    font-family: 'SFUI Medium';
    src: url(../fonts/SF-UI-Display-Medium.woff2);
}
@font-face {
    font-family: 'SFUI Semibold';
    src: url(../fonts/SF-UI-Display-Semibold.woff2);
}
@font-face {
    font-family: 'SFUI Bold';
    src: url(../fonts/SF-UI-Display-Bold.woff2);
}
@font-face {
    font-family: 'SFUI Heavy';
    src: url(../fonts/SF-UI-Display-Heavy.woff2);
}
@font-face {
    font-family: 'Lato Bold';
    src: url(../fonts/Lato-Bold.woff2);
}
h1 {
    font-family: 'SFUI Bold';
    font-size: 5em;
    line-height: 1.25em;
    margin: 0;
}
h1 a:hover {
    opacity: 0.6;
}
h2 {
    font-family: 'SFUI Bold';
    font-size: 6vw;
    line-height: 1.25em;
    position: relative;
}
h3 {
    font-family: 'SFUI';
    font-size: 1em;
}
h4 {
    font-family: 'SFUI Light';
    font-size: 1.25em;
    line-height: 1.5em;
    letter-spacing: 0.25px;
    margin: 0;
}
p {
    position: relative;
    font-family: 'SFUI';
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 1em;
}
p a:hover {
    opacity: 0.6;
    transition: 0.28s;
}
a {
    text-decoration: none;
    color: inherit;
    transition: 0.28s;
}


/* Header */
header {
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 7em;
    vertical-align: middle;
    margin-bottom: 3vw;
}
.zklogo {
    height: 7vw;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
#name {
    font-family: 'SFUI Semibold';
    font-size: 4vw;
    display: inline;
    position: relative;
    vertical-align: middle;
    padding-left: 0.5em;
}
.optionList {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.option {
    text-transform: uppercase;
    opacity: 0.3;
    display: inline;
    margin: 0.75vw;

    transition: .28s;
}
.selected {
    opacity: 1;
    font-family: 'SFUI Bold';
}
.option:hover {
    opacity: 1;
    transition: 0.28s;
}


/* Body */
body {
    font-family: 'SFUI';
    color: #000000;
    display: block;
}
div {
    transition: 0.28s;
}
img {
    -webkit-user-drag: none;
}

.row {
    padding: 1vw;
}
.work {
    text-align: center;
}
.project {
    display: inline-block;
    position: relative;
    height: 35vw;
    width: 35vw;
    border-radius: 0.75vw;
    padding: 2vw;
    overflow: hidden;
    margin-bottom: 4.9vw;
    
    color: #FFFFFF;
    text-align: center;
}
.project h2 {
    font-family: "SFUI Bold";
    font-size: 4vw;
    margin-top: 22.5vw;
    margin-bottom: 0em;
}
.project img {
    width: 90%;
    position: absolute;
    margin-bottom: 2vw;
    transition: 0.28s;
}
.left {
    margin-right: 2.45vw;
}
.right {
    margin-left: 2.45vw;
}
.caption {
    font-family: 'SFUI Semibold';
    font-size: 1.25vw;
    margin: 0em;
}
.respond {
    background-image: linear-gradient(to right, #FF7E7E, #FFB77E, #FFDE88);
}
.respond h2 {
    font-family: "SFUI Heavy";
}
.respond img {
    z-index: 1;
    margin-top: 1vw;
}
.tint {
    background: url(../work/tint/tintbackground.png) center / contain no-repeat;
}
.tint h2 {
    font-family: "SFUI Heavy";
}
.tint img {
    z-index: 1;
    margin-top: 1vw;
}
.nalp {
    background: url(../work/nalp/nalpbackground.png) center / contain no-repeat;
}
.nalp img {
    width: 77.5%;
    position: relative;
    margin-top: 4vw;
}
.earbud {
    background: #1D90FF;
}
.earbud img {
    margin-top: 2vw;
}
.campmosaic {
    background: url(../work/campmosaic/campmosaicbackground.png) center / contain no-repeat;
}
.campmosaic img {
    width: 77.5%;
    position: relative;
    margin-top: 7.5vw;
}
.chirp {
    background: linear-gradient(#FFE5ED, #FFCDDC);
}
.chirp img {
    width: 85%;
    position: relative;
    margin-top: 3vw;
}
.designs {
    background: #414040;
}
.designs img {
    width: 77.5%;
    position: relative;
    margin-top: 3vw;
}
.travel {
    background: url(../work/travel/travelbackground.png) center / contain no-repeat;
}
.travel h2 {
    font-size: 7vw;
    margin-top: 10vw;
}
#avi {
    height: 30vw;
    width: 30vw;
    border-radius: 100em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Project Pages */
.divider {
    border-top: 1px solid #B2B2B2;
    padding-top: 3em;
}
.projectimg {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    height: 32.5vw;
}
.fullimg {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.respondtitle {
    width: max-content;
    
    background: linear-gradient(to right, #FF7E7E, #FFB77E, #FFDE88 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tinttitle {
    width: max-content;
    
    background: linear-gradient(137.5deg, #B2B2B2, #666666 18%, #000000 18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#exploration {
    margin-top: -5vw;
    margin-bottom: 3em;
}
.nalptitle {
    color: #0052A5;
}
.earbudtitle {
    color: #1D90FF;
}
video {
    border-radius: 0.75vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: 0.28s;
}
.campmosaictitle {
    background: url(../work/campmosaic/campmosaicbackground2.png) bottom / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.chirptitle {
    color: #FFCDDC;
}
.designstitle {
    color: #414040;
}
.design {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 1em;
}
.athenstitle {
    
    background: url(../work/travel/athens1.jpg) center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.3);
}
.austintitle {
    background: url(../work/travel/austin1.jpg) center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.3);
}
.cairotitle {
    background: url(../work/travel/cairo1.jpg) center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.3);
}
.cambridgetitle {
    width: max-content;
    background: url(../work/travel/cambridge1.jpg) center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.3);
}
.chicagotitle {
    background: url(../work/travel/chicago1.jpg) center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.3);
}
.dallastitle {
    background: url(../work/travel/dallas1.jpg) center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.3);
}
.florencetitle {
    background: url(../work/travel/florence1.jpg) center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.3);
}
.istanbultitle {
    background: url(../work/travel/istanbul1.jpg) center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.3);
}
.ithacatitle {
    background: url(../work/travel/ithaca1.jpg) center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.3);
}
.londontitle {
    background: url(../work/travel/london1.jpg) center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.3);
}
.madridtitle {
    background: url(../work/travel/madrid1.jpg) center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.3);
}
.milantitle {
    background: url(../work/travel/milan1.jpg) center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.3);
}
.orlandotitle {
    background: url(../work/travel/orlando1.jpg) center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.3);
}
.sendaititle {
    background: url(../work/travel/sendai1.jpg) center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.3);
}
.sydneytitle {
    background: url(../work/travel/sydney1.jpg) center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.3);
}
.venicetitle {
    background: url(../work/travel/venice1.jpg) center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.3);
}
.city {
    font-size: 0.5em;
}
.photo {
    display: inline;
    margin: 1.5em;
    margin-right: 0;
    
    height: 37.5vw;
    border-radius: 0.25vw;
    
    transition: 0.28s;
}
.photo:hover {
    transform: scale(1.01);
    transition: 0.28s;
}
.last {
    margin-right: 1.5em;
}
.scroll {
    overflow: scroll;
    white-space: nowrap;
    margin-bottom: 3em;
}


/* Footer */
footer {
    color: #B2B2B2;
    margin-top: 1em;
    transition: 0.28s;
}
footer h4 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.28s;
}
footer a:hover {
    color: #000000;
    transition: 0.28s;
}
i {
    margin: 0.75vw;
}
.links {
    float: right;
}


/* Scroll To Top */
#scrollTop {
    cursor: pointer;
    outline: none !important;
    
    background: url(../top.png) center / contain no-repeat;
    opacity: 0.3;

    position: fixed;
    bottom: 67.5px; 
    right: 8.5vw; 
    width: 2em;
    height: 0.8em;
    z-index: 99;
    
    transition: 0.28s;
}
#scrollTop:hover {
    opacity: 1;
    transition: 0.28s;
}
#scrollTop.no-display {
    opacity: 0;
}


/* Responsive Modifications */
@media screen and (max-width: 1275px) {
    .project {
        display: inline-block;
        position: relative;
        height: 35vw;
        width: 35vw;
        border-radius: 0.75vw;
        padding: 2vw;
        overflow: hidden;
        margin: 2vw;

        color: #FFFFFF;
        text-align: center;
    }
    #exploration {
        margin-top: 1.5em;
    }
    footer {
        margin-top: 3em;
    }
    .links {
        display: inline-block;
        float: left;
    }
}

@media screen and (max-width: 400px) {
    header {
        margin-top: -10vw;
    }
    h1 {
        font-size: 1.75em;
        margin-top: -7vw;
        letter-spacing: -0.40vw;
    }
    h3 {
        font-size: 0.5em;
    }
    h4 {
        font-size: 0.625em;
    }
    .project {
        display: inline-block;
        position: relative;
        height: 35vw;
        width: 35vw;
        border-radius: 0.75vw;
        padding: 2vw;
        overflow: hidden;
        margin: 2vw;

        color: #FFFFFF;
        text-align: center;
    }
    #exploration {
        margin-top: 1.5em;
    }
    .city {
        font-size: 0.75em;
    }
    .photo {
        height: 45vw;
        margin: 1em;
        margin-bottom: 5em;
        margin-left: 0;
    }
    footer {
        margin-top: 2em;
        padding-bottom: 2em;
    }
    .links {
        display: inline-block;
        float: left;
    }
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(0.05%);   
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}