/* Styles */

/* COLORS */
:root {
    --fullShade: #1B1F23;
    --emptyShade: #FAFAFA;
    --lightestShade: #E1E4E8;
    --lightShade: #959DA5;
    --darkShade: #586069;
    --darkestShade: #2F363D;

    --bg: #F1EDE5;
}
.opacity-10-light {
    color: var(--fullShade);
    opacity: 0.1;
}
.opacity-10-dark {
    color: var(--emptyShade);
    opacity: 0.1;
}


/* TYPOGRAPHY */
@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica-Bold-Oblique.woff);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica-Bold.woff);
    font-weight: bold;
}
@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica-Regular-Oblique.woff);
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica-Regular.woff);;
}
@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica-Bold-Oblique.woff);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'PF-DIN-Text-Pro';
    src: url(../fonts/PF-DIN-Text-Pro-Regular.woff);
}


h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 112px;
    font-weight: bold;
    letter-spacing: -8px;
    line-height: 115%;
    margin: 0;
}
h2 {
    font-family: 'Helvetica', sans-serif;
    font-size: 72px;
    font-weight: bold;
    letter-spacing: -4px;
    line-height: 115%;
    margin: 0;
}
h3 {
    font-family: 'Helvetica', sans-serif;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -3px;
    line-height: 115%;
    margin: 0;
}
h4 {
    font-family: 'Helvetica', sans-serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 115%;
    margin: 0;
}

.sh1 {
    font-family: 'PF-DIN-Text-Pro', monospace;
    font-size: 18px;
    letter-spacing: 0.8px;
    margin: 0;
    text-transform: uppercase;
}
.sh2 {
    font-family: 'PF-DIN-Text-Pro', monospace;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}
.sh3 {
    font-family: 'PF-DIN-Text-Pro', monospace;
    font-size: 12px;
    letter-spacing: 1.2px;
    margin: 0;
    text-transform: uppercase;
}

p {
    font-family: 'Helvetica', sans-serif;
    line-height: 150%;
    margin: 0;
}
.p1 {
    font-size: 24px;
    letter-spacing: -1px;
    margin-bottom: 24px;
}
.p2 {
    font-size: 18px;
    letter-spacing: 0px;
}

a {
    color: var(--darkShade);

    transition: 0.16s;
}
a:hover {
    color: var(--lightShade);

    transition: 0.16s;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 72px;
        font-weight: bold;
        letter-spacing: -4px;
    }
    h2 {
        font-size: 48px;
        font-weight: bold;
        letter-spacing: -3px;
    }
    h4 {
        font-size: 48px;
        font-weight: bold;
        letter-spacing: -3px;
    }
}
@media screen and (max-width: 800px) {
    h1 {
        font-size: 48px;
        font-weight: bold;
        letter-spacing: -3px;
    }
    h2 {
        font-size: 32px;
        font-weight: bold;
        letter-spacing: -2px;
    }

    .p1 {
        font-family: 'Helvetica';
        font-size: 16px;
        letter-spacing: 0px;
    }
}

h1::selection, h2::selection, h3::selection, h4::selection, p::selection, a::selection, span::selection, br::selection, strong::selection, img::selection, html::selection {
    background: var(--lightestShade);
}

/* LAYOUT */
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}

/* SHADOWS */



/* GLOBAL */ 
html {
    color: var(--darkestShade);
    background: var(--bg);

    width: 100vw;
    height: 100vh;
}
body {
    flex-grow: 1;
    width: 100vw;

    margin: 0;
}

svg {
    width: 16px;
    height: 16px;
}
.icon-s {
    width: 24px;
    height: 24px;

    padding: 2px;
}
.icon-m {
    width: 32px;
    height: 32px;

    padding: 3px;
}
.icon-l {
    width: 40px;
    height: 40px;

    padding: 4px;
}

img {
    -webkit-user-drag: none;
}
video {
    -webkit-user-drag: none;
}

.button {
    color: var(--darkestShade);
    background-color: var(--bg);
    border-radius: 4px;
    border: 0;
    box-shadow: 0 0 0 0;
    text-decoration: none;

    align-items: center;
    padding: 12px;
    gap: 6px;

    transition: 0.08s;
}
.button:hover {
    color: var(--darkestShade);
    box-shadow: inset 0px -2px 0px 4px var(--darkestShade);

    padding: 10px 12px 14px 12px;

    transition: 0.08s;
}
.button:active {
    box-shadow: inset 0px 1px 0px 2px var(--darkestShade);

    padding: 13px 12px 11px 12px;

    transition: 0s;
}
.button > .sh2 {
    color: var(--darkestShade);
    line-height: 11px;
}
#selected {
    box-shadow: inset 0px 1px 0px 2px var(--darkestShade);

    padding: 13px 12px 11px 12px;
}

/* HEADER */
header {
    padding: 24px 40px;
    gap: 16px;
}
.line-container {
    justify-content: space-between;
    flex-grow: 1;
    /* align-self: stretch; */

}
.line {
    background-color: var(--darkestShade);
    align-self: stretch;
}
#line-1 {
    height: 16px;
}
#line-2 {
    height: 8px;
}
#line-3 {
    height: 4px;
}
#line-4 {
    height: 2px;
}

nav {
    gap: 8px;
}


/* FOOTER */
footer {
    padding: 24px 40px;
    justify-content: space-between;
}

#zk-logo {
    color: var(--fullShade);
    fill-opacity: 0.3;
    width: 40px;
    height: 40px;
}


/* BODY */
main {
    flex-grow: 1;
    padding: 0px 40px;
    gap: 40px;
}
.content {
    gap: 40px;
}

#title {
    gap: 8px;
}
#subtitle {
    color: var(--darkShade);

    justify-content: space-between;
}
#weather {
    color: var(--darkShade);
    background-color: var(--bg);
    border-radius: 4px;
    border: 1px solid var(--darkShade);

    box-sizing: border-box;
    align-items: center;
    padding: 0px 8px;
    gap: 8px;
}

#tile-stack {
    flex-grow: 1;

    gap: 24px;
}
.tile {
    color: var(--darkShade);
    background-color: var(--bg);
    border-radius: 8px;
    text-decoration: none;
    
    box-sizing: border-box;
    transition: 0.08s;
}
.tile:hover {
    color: var(--darkestShade);

    transform: 0.08s;
}
.tile:active {
    color: var(--darkestShade);

    transition: 0s;
}
.tl {
    /* width: 480px; */
    width: 35.29411765%;
    height: 480px;
    box-shadow: inset 0px -8px 0px 12px var(--darkShade);

    padding: 40px;
    gap: 8px;
}
.tl:hover {
    box-shadow: inset 0px -8px 0px 12px var(--darkestShade);
}
.tl:active {
    box-shadow: inset 0px 2px 0px 6px var(--darkestShade);

    padding: 50px 40px 30px 40px;
}
.ts {
    /* width: 320px; */
    height: 144px;
    box-shadow: inset 0px -4px 0px 8px var(--darkShade);

    padding: 24px;
    gap: 4px;
}
.ts:hover {
    box-shadow: inset 0px -4px 0px 8px var(--darkestShade);
}
.ts:active {
    box-shadow: inset 0px 2px 0px 6px var(--darkestShade);

    padding: 30px 24px 18px 24px;
}

.top {
    justify-content: flex-end;
    flex-grow: 1;
}
#flashing {
    animation: 2.0s infinite flashing;
}


/* ABOUT */
#bio {
    gap: 120px;
}
#avi {
    width: 480px;
    height: 480px;
}


/* RESPONSIVE */
.content-web {
    display: none;
}
.content-mobile {
    display: inherit;
}
@media screen and (min-width: 550px) {
    /* GLOBAL */
    
    /* HEADER */
    .header {
        margin-bottom: 1.5em;
        line-height: 3em;
        justify-content: space-between;
    }
    .zk-logo {
        margin-right: 1.5em;
        height: 3em;
    }
    .nav {
        margin-left: auto;
        line-height: 3em;
    }
    
    /* BODY */
    .content {
        grid-template-columns: auto auto;
        grid-row-gap: 5vw;
        margin-bottom: 3em;
    }
    
    /* ABOUT */
    .avi {
        height: 35vw;
        width: 35vw;
    }
}

@media screen and (min-width: 1000px) {
    /* GLOBAL */
    .content-web {
        display: inline;
    }
    
    /* HEADER */
    .selected {
        font-weight: 500;
        color: var(--fullShade);
    }
    
    /* SUMMARY */
    .summary {
        grid-template-columns: 50% 50%;
    }
    
    /* ABOUT */
    .avi {
        margin-top: auto;
        margin-bottom: auto;
        height: 25em;
        width: 25em;
    }
}

/* ANIMATIONS */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(0.05%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes flashing {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
       opacity: 0;
    }
}